#form{
        width: 600px;
        height: 250px;
        color: white;
        margin:auto;
        text-align: center;
        margin-bottom: -30px;
        color: black;
        text-shadow: 0 0 3px white, 0 0 2px pink;
        font-weight: bolder;
        border: 1px solid;
        box-shadow: 2px 2px black;
        font-size: 18px;
}