h2 {
    background-color: black;
    color:  #ffffff;
    display: flex;
    padding:1px;
    text-align: center;
    flex-direction: column;
    margin-bottom: -4px;
}

img {
  width: 50px;
  height: 50px;
  border-radius: 40px;
  box-shadow: 1px 1px;
}

table {
  table-layout: fixed;
  color: black;
  text-shadow: 0 0 3px white, 0 0 2px pink;
  width: 100%;
  border: 3px solid black;
  font-family: monospace;
  background: url("../../Images/nick-fewings-ka7REB1AJl4-unsplash.jpg");
}

tbody th, 
td{
  text-align: center;
  padding: 10px;
}

th{
    font-size: 20px;
    text-decoration: line-through;
}

td{
  font-size: 14px;
  font-weight: bolder;
}